
<ul class="list bg-base-100 rounded-box shadow-md">
  
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">プライバシーポリシー</li>
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">寿司カウンター（以下「本サービス」）は、ユーザーのプライバシーを尊重し、適切に個人情報を取り扱うことを重視しています。本ポリシーでは、本サービスにおける個人情報の取り扱い方針を説明します。</li>
  
  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">1. 取得する情報</div>
    </div>
    <p class="list-col-wrap text-xs">
      ユーザー登録時に入力されたメールアドレス
      <br>
      ユーザーがアップロードした画像（ログインユーザーのみ）
    </p>
  </li>

  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">2. 取得しない情報</div>
    </div>
    <p class="list-col-wrap text-xs">
      位置情報や端末情報は収集していません。
      <br>
      ユーザーの閲覧履歴や行動ログは記録していません。
    </p>
  </li>

  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">3. 利用目的</div>
    </div>
    <p class="list-col-wrap text-xs">
      ユーザーの識別および認証のため
      <br>
      画像の保存およびユーザーによる閲覧のため
    </p>
  </li>

  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">4. 第三者提供について</div>
    </div>
    <p class="list-col-wrap text-xs">
      ユーザーの同意がある場合、法令に基づく場合を除き、第三者に個人情報を提供することはありません。
    </p>
  </li>

  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">5. 画像の取り扱い</div>
    </div>
    <p class="list-col-wrap text-xs">
      削除依頼があった場合、運営の判断で対応いたします。
    </p>
  </li>

  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">6. プライバシーポリシーの変更</div>
    </div>
    <p class="list-col-wrap text-xs">
      必要に応じて本ポリシーを改定する場合があります。変更内容はサービス上で周知します。
    </p>
  </li>