<ul class="list bg-base-100 rounded-box shadow-md">
  
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">利用規約</li>
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">この利用規約（以下「本規約」といいます）は、「BBX Hub」（以下「本サービス」といいます）の利用条件を定めるものです。ログイン・ゲスト問わず、本サービスを利用するすべての方（以下「ユーザー」といいます）は、本規約に同意したものとみなします。</li>
  
  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">第1条（本規約の適用）</div>
    </div>
    <p class="list-col-wrap text-xs">
      本サービスの利用に関するすべての関係に本規約が適用されます。
      <br>
      必要に応じて、追加のガイドラインや方針が定められることがあります。その場合、個別の定めは本規約の一部として扱われます。
    </p>
  </li>
  
  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">第2条（ユーザー登録・ゲスト利用）</div>
    </div>
    <p class="list-col-wrap text-xs">
        ユーザーは、登録なしでもゲストとして本サービスを利用できます。ゲスト利用時は自動的にゲストユーザーとしてログインされます。
        <br>
        新規登録により、ユーザーアカウントを作成してログインすることも可能です。
    </p>
  </li>

  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">第3条（利用料金）</div>
    </div>
    <p class="list-col-wrap text-xs">
        本サービスは完全無料で提供されています。
        <br>
        将来的に有料機能を追加する場合は、事前に明確な案内を行います。
    </p>
  </li>

  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">第4条（アップロード画像と個人データ）</div>
    </div>
    <p class="list-col-wrap text-xs">
      アップロードされた画像の削除依頼があった場合は、運営の判断により対応します。
      <br>
      ユーザー登録時にメールアドレスが保存されますが、位置情報は取得しません。
      <br>
      メールアドレス等の個人情報は、認証およびログインの目的にのみ使用されます。
    </p>
  </li>

  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">第5条（禁止事項）</div>
    </div>
    <p class="list-col-wrap text-xs">
        ユーザーは以下の行為をしてはなりません：
        <br><br>
        法令または公序良俗に反する行為
        <br>
        他人になりすます行為
        <br>
        他者のデータへの不正アクセスまたは改ざん
        <br>
        アプリの運営・サーバー・ネットワークを妨害する行為
        <br>
        著作権や知的財産権を侵害する行為
        <br>
        本サービスで使用される画像・コンテンツの無断転載・二次利用
        <br>
        その他、運営が不適切と判断する行為
    </p>
  </li>

  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">第6条（サービスの中断・変更・終了）</div>
    </div>
    <p class="list-col-wrap text-xs">
        予告なくサービスの一部または全部を停止・終了することがあります。
        <br>
        サービス終了時は、登録メールアドレス宛に通知を行います。
    </p>
  </li>

  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">第7条（免責事項）</div>
    </div>
    <p class="list-col-wrap text-xs">
        本サービスは現状のまま提供され、エラーや不具合が存在する可能性があります。
        <br>
        重大な過失を除き、本サービス利用により生じた損害について責任は負いません。
        <br>
        ユーザー間や第三者とのトラブルには関与しません。
    </p>
  </li>

  <li class="list-row">
    <div>
      <div class="text-xs uppercase font-semibold opacity-60">第8条（規約の改定）</div>
    </div>
    <p class="list-col-wrap text-xs">
        サービス内容や運用上の変更に応じて本規約が改定されることがあります。
    </p>
  </li>
  
</ul>