<div class="absolute top-0 right-10 mt-1 ml-2" id="unlike-button-<%= post.id %>">
    <%= link_to image_tag("unlike_icon.png", class: "w-7 h-auto"), post_likes_path(post.id), data: { turbo_method: :post } %>
</div>